<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Kontakt</title>
        <link rel="stylesheet" href="static/css/aboutme.css">
        </head>
<body_flight>
    <div class="container_flight">
      <!-- TOP CONTAINER -->
      <div class="top-container_flight">
        <h1>Travelworldwide</h1>
        <div class="flight_flight">
          <h2>Flight 673 /// May 31, 2020</h2>
          <div class="circle_flight"></div>
        </div>

        <div class="info-container_flight">
          <div class="passenger_flight">
            <p>Sylvia Ganter</p>
            <h4>Passenger</h4>
          </div>
          <div class="boarding_flight">
            <p>09:00 AM EST</p>
            <h4_flight>Open from</h4_flight>
          </div>
          <div class="gate_flight">
            <p>AA-33</p>
            <h4_flight>Gate</h4_flight>
          </div>
          <div class="class_flight">
            <p>Economy</p>
            <h4_flight>Class</h4_flight>
          </div>
          <div class="zone_flight">
            <p>017661797114</p>
            <h4_flight>Number</h4_flight>
          </div>
          <div class="seat_flight">
            <p>23D</p>
            <h4_flight>Seat</h4_flight>
          </div>
        </div>
      </div>

      <!-- BOTTOM CONTAINER -->
      <div class="bottom-container_flight">
        <div class="airport_flight">
          <div>
            <h1>BER</h1>
            <p>Berlin, GER</p>
          </div>
          <div>
            <h1>LAX</h1>
            <p>Cologne, CGN</p>
          </div>
          <div class="square_flight left_flight"></div>
          <div class="square_flight right_flight"></div>
          <div class="square_flight middle_flight"></div>
          <div class="polygon_flight"></div>
          <div class="line_flight"></div>
        </div>
        <div class="qr-code_flight">
          <img src="https://svgshare.com/i/KcA.svg" />
        </div>
        <div class="buttons_flight">
          <button class="btn-question_flight">?</button>
          <button class="btn-add_flight">Add to wallet</button>
        </div>
      </div>
    </div>
  </body_flight>
</html>
