<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>todo</title>
        <link rel="stylesheet" href="/static/css/aboutme.css">
        </head>
<body1>
    <div class="container">
      <!-- TOP CONTAINER -->
      <div class="top-container_flight">
        <h1>Alpha</h1>
        <div class="flight">
          <h2>Flight 673 /// May 18, 2020</h2>
          <div class="circle_flight"></div>
        </div>

        <div class="info-container_flight">
          <div class="passenger">
            <p>Jorge Mendes</p>
            <h4>Passenger</h4>
          </div>
          <div class="boarding">
            <p>11:37AM EST</p>
            <h4>Boarding Time</h4>
          </div>
          <div class="gate">
            <p>AA-33</p>
            <h4>Gate</h4>
          </div>
          <div class="class">
            <p>ALPHA ONE</p>
            <h4>Class</h4>
          </div>
          <div class="zone">
            <p>ZZ</p>
            <h4>Zone</h4>
          </div>
          <div class="seat">
            <p>23D</p>
            <h4>Seat</h4>
          </div>
        </div>
      </div>

      <!-- BOTTOM CONTAINER -->
      <div class="bottom-container_flight">
        <div class="airport">
          <div>
            <h1>JFK</h1>
            <p>New York, NY</p>
          </div>
          <div>
            <h1>LAX</h1>
            <p>Los Angeles, CA</p>
          </div>
          <div class="square_flight left_flight"></div>
          <div class="square_flight right_flight"></div>
          <div class="square_flight middle_flight"></div>
          <div class="polygon"></div>
          <div class="line_flight"></div>
        </div>
        <div class="qr-code">
          <img src="https://svgshare.com/i/KcA.svg" />
        </div>
        <div class="buttons_flight">
          <button class="btn-question_flight">?</button>
          <button class="btn-add_flight">Add to wallet</button>
        </div>
      </div>
    </div>

    <p>
      <a
        href="https://dribbble.com/shots/4789578-DUI-XXIV-Boarding-Pass"
        target="_blank"
        >Dribbble</a
      >
    </p>
  </body>
</html>
